<launch>
    <arg name="namespace" default="bebopN" />
    <arg name="ip" default="192.168.42.1" />
    <arg name="sim" default="false"/>
    <arg name="x_start" default="0"/>
    <arg name="y_start" default="0"/>
    <arg name="yaw_start" default="0"/>

    <param name="$(arg namespace)/tf_prefix" value="$(arg namespace)"/>

    <node ns="$(arg namespace)" name="tf_relay" pkg="iarc_main" type="tf_relay.py"/>

    <group unless="$(arg sim)">
        <!-- Non-simulator nodes -->
        <include file="$(find bebop_driver)/launch/bebop_node.launch">
            <arg name="ip" value="$(arg ip)"/>
            <arg name="namespace" value="$(arg namespace)"/>
            <arg name="remap_tf" value="true"/>
        </include>
    </group>

    <group if="$(arg sim)" ns="$(arg namespace)">
        <!-- Simulator nodes -->
        <node name="iarc_simulator" pkg="iarc_sim_2d" cwd="node" type="sim.py" output="screen">
            <param name="name" value="$(arg namespace)"/>
        </node>
        <node name="base_link_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 $(arg namespace) base_link 30">
            <remap from="/tf" to="tf"/>
        </node>
        <node name="launch_frame_static" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 launch odom 30">
            <remap from="/tf" to="tf"/>
        </node>
    </group>
    
    <node ns="$(arg namespace)" name="odom_tf" pkg="tf" type="static_transform_publisher" args="$(arg x_start) $(arg y_start) 0 0 0 $(arg yaw_start) map launch 30">
        <remap from="/tf" to="tf"/>
    </node>

    <node name="arbiter" ns="$(arg namespace)" pkg="iarc_arbiter" type="arbiter_lite.py" output="screen">
        <remap from="/odometry" to="odom"/>
        <param name="tf_prefix" value="$(arg namespace)"/>
    </node>

    <node name="launch_frame" ns="$(arg namespace)" pkg="iarc_main" type="launch_observer.py" unless="$(arg sim)"/>
</launch>
